/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of default resets*/
/*beginning of CSS*/
#container {
  width: 90%;
  margin: auto;
  font-family: Helvetica;
}
h1 {
	width: 87%;
	font-weight: bold;
	padding: .7em 0 .7em .7em;
	color: rgba(64, 64, 64, 1);
	background-color: rgba(242, 242, 242, 1);
	float: left;
}
.h1-gator {
	width: 6.11%;
	text-align: center;
	font-size: 1em;
	padding: .7em 0 .7em .7em;
	font-weight: bold;
	color: rgba(64, 64, 64, 1);
	background-color: rgba(230, 230, 230, 1);
	float: right;
	border-right: 4px solid #FFF;
}
.columns {
  width: 30.3%;
  margin-left: 1em;
  padding-top: 5em;
  float: left;
}
.columns img {
  width: 99%;
	height: 15em;
}
li {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}
li span {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
}
.tech-img .ent-img .sports-img {
	height: 10em;
}
